asgiref @ file:///Users/cbousseau/work/recipes/ci_py311/asgiref_1677957028708/work
Django @ file:///Users/cbousseau/work/recipes/ci_py311/django_1677970851911/work
pillow @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_cficifsvns/croot/pillow_1734430610764/work
sqlparse @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_16ptvrhamb/croot/sqlparse_1690901943673/work
